* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
.container {
    border: .3rem solid black;
    display: flex;
    /* align-items: baseline; permite que solo ocupe el contenido*/
    flex-wrap: wrap;
}
.box {
    height: 10rem;
    /* con flex-basis: 10rem; y flex-grow: 1; permite que crezca
    ocupando el 100% del width, haciendo que crezca de manera vertical
    */
    flex-basis: 10rem;
    flex-grow: 1;
}
.box1 {
    background-color: blue;
    /*Si le coloco un order:1, se puede tener un orden personalizado,
    pero todos los item del display:flex, deben tener un orden,
    de lo contrario los que no tengan un orden personalizado,
    el css los colocará a la izquierda.*/
}
.box2 {
    background-color: blueviolet;
    /* Puedo colocar flex-grow:1, para que el elemento dentro
    del display flex, llene TODO el espacio en blanco hasta llegar
    al 100% del width*/
}
.box3 {
    background-color: burlywood;
}
.box4 {
    background-color: cadetblue;
}
.box5 {
    background-color: coral;

}
.box6 {
    background-color: salmon;
}
.footer {
    background: linear-gradient(black 100%, grey 0%);
    font-weight: bold;
    color: white;
    display: flex;
    align-items: flex-end;
    align-content: center;
}