* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent {
    display: inline-block;
}

.htmlClass, .bodyClass, .divClass {
    border: 2px #1a73ad solid;
    display: inline-block;
    border-radius: 5px;
}
.htmlClass {
    background-color: #d0f583;
    width: 300px;
    height: 300px;
    margin: 20px 0 0 20px;
    position:absolute;
}
.bodyClass {
    background-color: #a0daff;
    width: 250px;
    height: 250px;
    margin: 50px 0 0 45px;
    position: absolute;
}
.main {
    margin-left: 100px;
}
.divClass {
    background-color: white;
    width: 150px;
    height: 50px;
}
.divClass p {
    padding-top: 13px;
}
.text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #1a73ad;
    font-weight: bold;
    padding-top: 3px;
}
#divOne {
    margin: 100px 0 0 100px;
    position: absolute;
}
#divTwo {
    margin: 160px 0 0 100px;
    position: absolute;
}
#divThree {
    margin: 220px 0 0 100px;
    position: absolute;
}
.footer {
    position:fixed;
    background:linear-gradient(rgb(165, 6, 147) 0, rgb(85, 1, 60) 100%);
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: small;
    position: absolute;
    margin: 330px 0 0 0;
}